<header>
	<div class="navbar-mobile" id="navbar-mobile">
		<i class="fa-solid fa-bars" id="open-menu-burger"></i>
		<a href="{{path('app_home')}}">
			<img src="{{ asset('imgs/logo.webp')}}" alt="logo">
		</a>
		<div class="icons-container">
			{% if app.user %}
				<a href="{{ path('user-cart', {'id': app.user.id})}}">
					<i class="fa-solid fa-cart-arrow-down fa-xl"></i>
				</a>
			{% endif %}
			<i class="fa-solid fa-user fa-xl"></i>
		</div>

	</div>
	<div class="navbar-desktop">
		<a href="{{path('app_home')}}">
			<img src="{{ asset('imgs/logo.webp')}}" alt="logo">
		</a>
		<ul>
			<li>
				<a href="{{path('app_home')}}">home</a>
			</li>
			<li>
				<a href="{{ path('app_items')}}">store</a>
			</li>
		</ul>
		<div class="icons-container">
			{% if app.user %}
				<a href="{{ path('user-cart', {'id': app.user.id})}}">
					<i class="fa-solid fa-cart-arrow-down fa-2xl"></i>
				</a>
			{% endif %}
			<i class="fa-solid fa-user fa-2xl"></i>
		</div>
	</div>
	<div class="menu-burger-container" id="menu-burger-container">
		<div class="menu-container">
			<i class="fa-solid fa-xmark fa-2xl" id="close-menu-burger"></i>
			<ul>
				<li><a class=""href="{{ path('app_home') }}">home</a></li>
				<li><a class=""href="{{ path('app_items')}}">store</a></li>
			</ul>
		</div>
	</div>
	<div class="profil-container" id="profil-container">
		<ul>
			{% if not app.user %}
				<li>
					<a href="{{path("app_login")}}">login</a>
				</li>
			{% endif %}
			{% if app.user %}
				<li>
					<a href="{{ path('user-profil', {'id': app.user.id})}}">profil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin') }}">admin</a>
					</li>
				{% endif %}
				<li>
					<a href="{{path("app_logout")}}">logout</a>
				</li>
			{% endif %}

		</ul>
	</div>
</header>
