{{ form_errors(form) }}

{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.price) }}
{{ form_row(form.stock) }}
{{ form_row(form.description) }}
{{ form_row(form.category) }}
{{ form_row(form.subcategory) }}
{{ form_row(form.status) }}
{{ form_row(form.imageFile) }}

<button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
